@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family:"fira sans" */

*{
    font-family: "Work Sans", serif;
}
section{
    margin-bottom: 60px;
}

.header {
    height: auto;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 24px 160px 24px 160px;
}
  
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.header-text {
    font-size: 32px;
    color: #0E0E0E;
    font-weight: 700;
}
  
.header-button {
    padding: 15px 30px 15px 30px;
    border: solid 1px;
    background-color: #006a5000;
    border-radius: 8px;
    color: #006A50;
    border-color: #006A50;
    cursor: pointer;
    font-size: 18px;
}
.hero {
    padding: 80px 100px 80px 100px;
    width: 100%;
    background-color: #C6E4D6;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#hero-title{
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 10px;
}
#hero-description{
    color: #3C916A;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}
.btn-primary{
    background-color: #3C916A;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 17px 34px 17px 34px;
}
.hero-text-box{
    width: 622px;
}
.hero-img-box{
    width: 622px;
}
.hero-parent{
    height: 560px;
    padding: 0 160px 0 160px;
    display: flex;
    justify-content: center;
    
}
.pillar-section{
    padding: 0 160px 0 160px;
}
.pillar-card-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.section-title{
    font-size: 36px;
    margin-bottom: 20px;
}
.pillar-card{
    height: 200px;
    width: 302px;
    padding: 24px;
    border: 1px solid rgba(179, 177, 177, 0.226);
    border-radius: 8px;
}
.pillar-card-icon{
    width: 62px;
}
.pillar-card-title{
    font-size: 20px;
    font-weight: 700;
}
.pillar-card-description{
    font-size: 16px;
    line-height: 24px;
}
.vision-section{
    width: 100%;
}
.vision-text-box{
    margin: 0 160px 0 160px;
}
.vision-card-container{
    margin: 0 160px 0 160px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.vision-card{
    height: 325px;
    width: 410px;
    padding: 24px;
    border: 1px solid rgba(179, 177, 177, 0.226);
    border-radius: 8px;
}
.vision-card-description{
    font-size: 16px;
    line-height: 24px;
}
.vision-card-title{
    font-size: 20px;
    font-weight: 700;
}
.vision-card-icon{
    width: 62px
}
.modern-infrastracture-btn{
    color: white;
    font-size: 16px;
    background-color: #FFC239;
    border-radius: 8px;
    border: none;
    padding: 11px 20px 11px 20px;
    margin-top: 50px;

}
.green-energy-btn{
    color: white;
    font-size: 16px;
    background-color: #09A15C;
    border-radius: 8px;
    border: none;
    padding: 11px 20px 11px 20px;
    margin-top: 50px;

}
.digital-transformation-btn{
    color: white;
    font-size: 16px;
    background-color: #5490F5;
    border-radius: 8px;
    border: none;
    padding: 11px 20px 11px 20px;
    margin-top: 50px;

}
#digital-transformaion-card{
    background-color: rgba(84, 144, 245, 0.2);
}
#green-energy-card{
    background-color: rgba(198, 228, 214, 1);
}
#modern-infrastructure-card{
    background-color: rgba(247, 235, 207, 1);
}
.testimonial-section{
    width: 100%;
}
.testimonial-container{
    margin: 0 160px 0 160px;
    background-color: white;
    background-image: url(../assets/quote-bg.png);
    background-position-x: 48px;
    background-repeat: no-repeat;
    border: 1px solid rgba(179, 177, 177, 0.226);
    border-radius: 16px;
    padding: 24px 48px;
}
.description{
   color: rgba(14, 14, 14, 0.6);
}
.testimonial-name{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}
.opinion-section{
    width: 100%;
}
.opinion-container{
    margin: 0 160px 0 160px;
}
.opinion-box{
    width: 100%;
}
table{
    width: 100%;
}
th{
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    padding: 24px;
    background-color: rgba(198, 228, 214, 1);
}
td{
    font-size: 16px;
    font-weight: 500;
    padding: 24px;
}
table, td, th {
    border-collapse: collapse;
    border: 1px solid #6d6c6c3f;
}
table + table, table + table tr:first-child th, table + table tr:first-child td {
    border-top: 0;
}
td button{
    border: solid 0.5px gray;
    background-color: rgba(198, 228, 214, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 10px 14px;
    border-radius: 4px;
}

.news-section{
    width: 100%;
    padding: 0 160px;
}
.news-text{
    width: 75%;
}
.news{
    width: 100%;
    display: flex;
    gap: 30px;
    height: 400px;
    align-items: center;
}
.news-content{
    width: 60%;
}
.news-img .satelite{
    width: 100%;
    border-radius: 24px;
}
.news-title{
    font-size: 26px;
    font-weight: 700;
}
.date-and-time{
    display: flex;
    gap: 20px;
}
.donate-section{
    width: 100%;
}
.donate-container{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 200px;
}
.donate-text{
    text-align: center;
    width: auto;

}
.amount-button button{
    font-size: 40px;
    color: #0E0E0E;
    background-color: #ffffff00;
    font-weight: 700;
    padding: 30px 60px;
    border-radius: 16px;
    border: solid 0.5px rgba(128, 128, 128, 0.37);
}
.amount-button{
    display: flex;
    gap: 20px;
    justify-content: center;
}
#active-btn{
    background-color: rgba(198, 228, 214, 1);
}

hr{
    width:1240px;
    color: rgba(221, 12, 12, 0.404);
    background-color: rgba(207, 16, 16, 0.404) ;
}
.donate-lower{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-later-section{
    width: 100%;
}
.news-latter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 320px;
    margin: 0 160px;
    padding: 80px 100px 80px 100px;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 24px;
}
.nl-text-area{
    text-align: center;
}
input{
    padding: 18px 40px;
    width: 600px;
    border: none;
    border-radius: 8px;
}
#sub-btn{
    margin-left: -20px;
    border-radius: 0 8px 8px 0;
}
.form{
    text-align: center;
}
.news-latter-container p{
    font-size: 16px;
}
.footer-section{
    width: 100%;
}
.footer-container{
    margin: 0 160px;
    text-align: center;
}